SEED_USERS=true
MONGODB_URI=mongodb://127.0.0.1:27017/payload-example-multi-tenant
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
PAYLOAD_SECRET=jawliejfilwajefSEANlawefawfewag349jwgo3gj4w
# POSTGRES_URI=postgresql://postgres:password123@127.0.0.1:5432/next-payload-3