NEXT_PUBLIC_SERVER_URL=http://localhost:3000
PAYLOAD_SECRET=

# DB
MONGODB_URI=mongodb://127.0.0.1:27017/pv3-boilerplate
SEED_USERS=true

# AUTH
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# EMAILS
RESEND_API_KEY=